main {
  --color-prettylights-syntax-comment: #5c6370;
  --color-prettylights-syntax-constant: #d19a66;
  --color-prettylights-syntax-entity: #e06c75;
  --color-prettylights-syntax-storage-modifier-import: #c678dd;
  --color-prettylights-syntax-entity-tag: #56b6c2;
  --color-prettylights-syntax-keyword: #c678dd;
  --color-prettylights-syntax-string: #98c379;
  --color-prettylights-syntax-variable: #e5c07b;
  --color-prettylights-syntax-brackethighlighter-unmatched: #be5046;
  --color-prettylights-syntax-invalid-illegal-text: #fafafa;
  --color-prettylights-syntax-invalid-illegal-bg: #e06c75;
  --color-prettylights-syntax-carriage-return-text: #fafafa;
  --color-prettylights-syntax-carriage-return-bg: #d19a66;
  --color-prettylights-syntax-string-regexp: #56b6c2;
  --color-prettylights-syntax-markup-list: #61afef;
  --color-prettylights-syntax-markup-heading: #d19a66;
  --color-prettylights-syntax-markup-italic: #c678dd;
  --color-prettylights-syntax-markup-bold: #c678dd;
  --color-prettylights-syntax-markup-deleted-text: #be5046;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #98c379;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #d19a66;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #d19a66;
  --color-prettylights-syntax-meta-diff-range: #e06c75;
  --color-prettylights-syntax-brackethighlighter-angle: #565c64;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #61afef;
  --color-btn-text: #4b535e;
  --color-btn-bg: #fafafa;
  --color-btn-border: rgba(43, 43, 43, 0.15);
  --color-btn-shadow: 0 1px 0 rgba(31, 35, 40, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  --color-btn-hover-bg: #e5e5e5;
  --color-btn-hover-border: rgba(43, 43, 43, 0.15);
  --color-btn-active-bg: rgba(47, 51, 56, 0.15);
  --color-btn-active-border: rgba(31, 35, 40, 0.15);
  --color-btn-selected-bg: rgba(47, 51, 56, 0.16);
  --color-btn-primary-text: #fafafa;
  --color-btn-primary-bg: #56b6c2;
  --color-btn-primary-border: rgba(43, 43, 43, 0.15);
  --color-btn-primary-shadow: 0 1px 0 rgba(31, 35, 40, 0.1);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03);
  --color-btn-primary-hover-bg: #c678dd;
  --color-btn-primary-hover-border: rgba(43, 43, 43, 0.15);
  --color-btn-primary-selected-bg: #c678dd;
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgba(0, 45, 17, 0.2);
  --color-btn-primary-disabled-text: rgba(255, 255, 255, 0.8);
  --color-btn-primary-disabled-bg: #94d3a2;
  --color-btn-primary-disabled-border: rgba(31, 35, 40, 0.15);
  --color-action-list-item-default-hover-bg: rgba(208, 215, 222, 0.32);
  --color-segmented-control-bg: #e5e5e5;
  --color-segmented-control-button-bg: #fafafa;
  --color-segmented-control-button-selected-border: #8c959f;
  --color-fg-default: #4b535e;
  --color-fg-muted: #2f3338;
  --color-fg-subtle: #2f3338;
  --color-canvas-default: #fafafa;
  --color-canvas-overlay: #fafafa;
  --color-canvas-inset: #e5e5e5;
  --color-canvas-subtle: #e5e5e5;
  --color-border-default: #d0d7de;
  --color-border-muted: hsl(210deg 18% 87% / 100%);
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: #61afef;
  --color-accent-emphasis: #61afef;
  --color-accent-muted: rgba(84, 174, 255, 0.4);
  --color-accent-subtle: #ddf4ff;
  --color-success-fg: #98c379;
  --color-attention-fg: #d19a66;
  --color-attention-muted: rgba(212, 167, 44, 0.4);
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #e06c75;
  --color-danger-muted: rgba(255, 129, 130, 0.4);
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-inset: inset 0 1px 0 rgba(208, 215, 222, 0.2);
  --color-scale-gray-1: #e5e5e5;
  --color-scale-blue-1: #b6e3ff;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}
  
  
main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-light.svg");
}
  
main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-light.gif");
}
  